---
import Header from "../components/header/Header.astro";
import "../style/index.css";
import Main from "../components/main/main.astro";
import Footer from "../components/footer/Footer.astro";
---

<html lang="fr">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <meta
      name="description"
      content="GAGER Jonathan, 
      Développpeur web et web mobile 
      spécialié dans la création d'expériences web attrayantes et fonctionnelles."
    />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="https://gagerjonathan.github.io/Mon-Portfolio/" />
    <meta property="og:site_name" content="GAGER Jonathan" />
    <meta property="og:title" content="GAGER Jonathan Portfolio" />
    <meta
  property="og:image"
  content="/img/Header%20portfolio.png"
/>


    <script
      src="https://kit.fontawesome.com/2898a0ac51.js"
      crossorigin="anonymous"></script>
    <title>Portfolio | GAGER</title>
  </head>
  <body>
    <Header />
    <Main />
    <Footer />
  </body>
</html>
